# Virtual environment
venv/

# working directories
input/
output/

# --- Local / Private Files ---
# Ignore specific licensed files that should not be committed to the repository.
*yorunikakeru*
